* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
}

.item {
  margin-top: 100px;
}

.carousel-list {
    list-style: none;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-element img {
    max-width: 600px;
    border-radius: 50px;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    padding: 0;
    position: relative;
}

.carousel-hider {
    width: 600px;
    overflow: hidden;
    float: left;
}

.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    background-color: #eee;
    padding: 5px;
    margin-top: 180px;
    border-radius: 10px;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    color: blue;
    background-color: #ccc;
}

.carousel-arrow-left {
    margin-right: 25px;
}

.carousel-arrow-right {
    margin-left: 25px;
}
