.center, .header, .wrap-nav, .wrap-slider, .content-top, .news, .shop-block, .footer-top, .footer-bottom {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 40px; }

.font-family, .menu__link {
  font-family: 'ubuntu medium';
  text-decoration: none;
  text-transform: uppercase; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'ubuntu medium';
  src: url("../fonts/ubuntu-medium_allfont.ru-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium_allfont.ru-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }
.header {
  margin: 40px auto; }

.logo {
  width: 203px;
  float: left; }

.logo-img {
  float: left;
  width: 36px;
  height: 36px;
  overflow: hidden; }

.logo-img.__first {
  width: 18px;
  height: 18px;
  float: left;
  background: linear-gradient(to bottom right, #f7a40c, #fbcb2b); }
.logo-img.__two {
  width: 18px;
  height: 18px;
  float: left;
  background: linear-gradient(to bottom right, #e99400, #f4c100); }
.logo-img.__third {
  width: 18px;
  height: 18px;
  clear: both;
  float: left;
  background: linear-gradient(to bottom right, #ffc343, #ffdf7d); }
.logo-img.__fourth {
  width: 18px;
  height: 18px;
  float: left;
  background: linear-gradient(to bottom right, #ffb729, #ffd75f); }
.logo-img.__link {
  position: relative;
  top: -37px;
  left: 17px;
  font-size: 41px;
  color: #fff; }
  .logo-img.__link .icon-fa-gear:before {
    content: "\f013"; }

.logo-text {
  position: relative;
  top: -3px;
  left: 4px; }

.logo-text {
  font-family: "ubuntu medium"; }
  .logo-text.__title {
    line-height: 1.1;
    font-size: 30px;
    text-shadow: 1px 0 #d7d7d7;
    color: #434343; }
  .logo-text.__paragraph {
    left: 7px;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 1px 0 #d7d7d7;
    color: #333; }

.network {
  display: inline;
  float: right;
  padding: 10px 0; }

.network__item {
  display: inline;
  margin-left: 24px; }

[class^="icon"]:before, [class*=" icon"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none; }

a .icon {
  font-size: 16px;
  color: #cccccc; }
  a .icon:hover {
    color: #248cec; }

.icon.-fa-facebook:before {
  content: "\f09a"; }
.icon.-fa-twitter:before {
  content: "\f099"; }
.icon.-fa-rss:before {
  content: "\f09e"; }
.icon.-fa-linkedin:before {
  content: "\f0e1"; }
.icon.-fa-skype:before {
  content: "\f17e"; }

.nav {
  clear: both;
  height: 56px;
  background-color: #2a2d32; }

.menu {
  float: left;
  padding: 20px 0; }

.menu__item {
  display: inline; }

.menu__link {
  padding: 19px 42px;
  font-size: 14px;
  border-right: 1px solid #181a1d;
  color: #fff; }
  .menu__link:hover {
    color: #f4b60d; }

.menu__link_first {
  background-color: #248cec;
  padding-bottom: 20px; }

.search {
  float: right;
  padding: 7px; }

.search__input {
  width: 238px;
  height: 38px;
  text-indent: 10px;
  border: 1px solid #181a1d;
  background: #35383c;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 210px;
  :
  color: #626466; }
  .search__input:focus {
    outline: 0;
    color: #fff; }

.wrap-slider {
  position: relative; }

.wrap-slider__title {
  position: absolute;
  width: 215px;
  height: 107px;
  margin: 235px 0 0 36px;
  font-family: "ubuntu medium";
  background-color: rgba(24, 27, 30, 0.9); }
  .wrap-slider__title .slider__title {
    position: absolute;
    margin: 18px 0 0 30px;
    text-transform: uppercase;
    font-size: 54px;
    color: #fff; }
    .wrap-slider__title .slider__title span {
      color: #f4b60d; }
  .wrap-slider__title .slider__title-background {
    width: 308px;
    height: 90px;
    margin-top: 107px;
    background-color: rgba(24, 27, 30, 0.9); }

.unslider-nav ol {
  position: absolute;
  top: 430px;
  left: 580px;
  list-style: none; }

.unslider-nav ol li {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 7px;
  background: #fff;
  overflow: hidden;
  text-indent: -999em;
  border: 3px solid #fff;
  cursor: pointer; }

.unslider-nav ol li.unslider-active {
  background: #001d1d;
  cursor: default; }

.features-block {
  display: inline-block;
  padding: 75px 0 85px 0; }

.features {
  float: left;
  width: 360px;
  margin-right: 40px;
  font-family: "ubuntu medium"; }
  .features .features__title--first {
    float: left;
    padding-right: 20px;
    font-size: 90px;
    color: #efeff0; }
  .features .features__image {
    padding-top: -10px; }
  .features .features__title--third {
    padding: 17px 0 25px 0;
    font-size: 20px;
    color: #2a2b2e; }
  .features .features__paragraph {
    width: 240px;
    padding: 0 0 25px 122px;
    line-height: 1.5;
    font-size: 13px;
    font-family: arial;
    color: #8a8a8a; }
  .features .features__links {
    padding-left: 122px;
    font-size: 13px;
    color: #2a2b2e;
    text-decoration: none; }
  .features .features__links:hover {
    color: #248cec; }
  .features .icon-fa-arrow-right:before {
    content: '\f061';
    margin-left: 13px;
    text-shadow: 1px 0 #f1f2f5; }
  .features .features__icon {
    color: #248cec; }
  .features .features__links:hover .icon-fa-arrow-right {
    color: #989fb3 !important; }

.features:last-child {
  margin-right: 0; }

.wrap-content-top {
  background-color: #2a2d32; }

.content-top {
  padding-bottom: 70px; }

.content-top__title {
  padding: 55px 0;
  font-family: "ubuntu medium";
  font-size: 24px;
  color: #fff; }

.services {
  display: inline-block;
  position: relative;
  height: 260px;
  margin-right: 27px; }
  .services .services__item {
    width: 260px;
    margin-bottom: 20px; }
  .services .services__span {
    opacity: 0;
    transform: scale(0) rotate(90deg);
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 105px 0;
    text-align: center;
    background-color: rgba(47, 145, 234, 0.9);
    color: red;
    transition: .5s; }
    .services .services__span .icon-fa-plus:before {
      content: "\f067";
      font-size: 50px;
      color: #fff; }
  .services .services__paragraph {
    margin-top: 35px;
    text-align: center;
    font-family: "ubuntu medium";
    font-size: 16px;
    color: #fff;
    transition: .5s; }
  .services:hover .services__span {
    opacity: 1;
    transform: scale(1) rotate(0deg); }
  .services:hover .services__paragraph {
    color: #f4b60d; }

.services:last-child {
  padding-right: 0; }

.wrap-content-center {
  background-color: #f7f7f7; }

.latest {
  float: left;
  width: 550px;
  padding-bottom: 40px; }
  .latest .latest__title {
    padding: 65px 0 50px 0;
    font-family: "ubuntu medium";
    font-size: 24px;
    color: #2a2d32; }

.latest-block {
  padding: 15px 0;
  font-family: "ubuntu medium";
  font-size: 13px;
  color: #9e9e9e; }
  .latest-block .wrap-img-block {
    float: left;
    position: relative;
    padding-right: 33px; }
    .latest-block .wrap-img-block .img-block__first {
      position: absolute;
      top: 10px;
      left: -20px;
      width: 40px;
      padding: 14px 0;
      text-align: center;
      font-size: 15px;
      background-color: #248cec;
      color: #fff; }
    .latest-block .wrap-img-block .img-block__second {
      position: absolute;
      top: 53px;
      left: -20px;
      width: 40px;
      padding: 12px 0;
      text-align: center;
      font-size: 18px;
      background-color: #f4b60d;
      color: #2a2b2e; }
  .latest-block a {
    font-family: "ubuntu medium";
    font-size: 16px;
    text-decoration: none;
    color: #2a2d32; }
    .latest-block a:hover {
      color: #248cec; }
  .latest-block .latest-block__first {
    padding: 15px 0 35px 0;
    font-family: arial; }
    .latest-block .latest-block__first .latest-word {
      color: #248cec; }
    .latest-block .latest-block__first .latest-number {
      color: #248cec; }
  .latest-block .latest-block__second {
    line-height: 1.4; }

.latest-block:last-child {
  clear: both; }

.banners {
  float: left; }

.banners__title {
  padding: 65px 0 50px 0;
  font-family: "ubuntu medium";
  font-size: 24px;
  color: #2a2d32; }

.wrap-content-bottom {
  clear: both;
  background-color: #fff; }

.shop-block {
  padding: 100px 0; }

.shop {
  text-align: center; }

.shop__item {
  display: inline; }

.wrap-footer-top {
  background-color: #2a2d32; }

.footer__item {
  display: inline-block;
  margin-right: 42px; }

.footer__item:last-child {
  margin-right: 0; }

.footer__title {
  padding: 60px 0 50px 0;
  font-family: "ubuntu medium";
  font-size: 16px;
  text-transform: uppercase;
  color: #fff; }

.list {
  padding-bottom: 80px; }

.list__item {
  width: 255px;
  padding: 13px 0;
  border-bottom: 1px solid #393c40; }

.list__item:last-child {
  border: 0; }

.list__links {
  font-family: arial;
  font-size: 13px;
  color: #828385;
  text-decoration: none; }
  .list__links:hover {
    color: #248cec; }

.wrap-footer-bottom {
  background-color: #35383c; }

.footer-bottom {
  padding: 25px 0; }

.list-bottom__item {
  display: inline;
  padding-right: 40px;
  font-family: "ubuntu medium";
  font-size: 12px;
  color: #5d6063; }
  .list-bottom__item .footer-icon {
    padding-right: 14px; }
  .list-bottom__item .icon {
    color: #5d6063; }
    .list-bottom__item .icon.-fa-map-marker:before {
      content: "\f041"; }
    .list-bottom__item .icon.-fa-mobile:before {
      content: "\f10b"; }
    .list-bottom__item .icon.-fa-address-card-o:before {
      content: "\f2bc"; }
    .list-bottom__item .icon.-fa-copyright:before {
      content: "\f1f9"; }

.list-bottom__item:last-child {
  float: right;
  padding-right: 0; }

.unslider {
  overflow: auto;
  margin: 0;
  padding: 0; }

.unslider-wrap {
  position: relative; }

.unslider-wrap.unslider-carousel > li {
  float: left; }

.unslider-vertical > ul {
  height: 100%; }

.unslider-vertical li {
  float: none;
  width: 100%; }

.unslider-fade {
  position: relative; }

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8; }

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10; }

.unslider li, .unslider ol, .unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none; }

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer; }

.unslider-arrow.next {
  left: auto;
  right: 20px; }

body {
  background-color: #f7f7f7; }

.accordion {
  width: 500px;
  margin-top: 15px; }

.set {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  background-color: #fff; }

.set__item {
  display: block;
  padding: 15px;
  color: #555;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #ddd;
  cursor: pointer; }

.set__links {
  padding-right: 15px;
  position: relative; }

.set__span {
  padding: 13px 0 14px 15px;
  border-left: 2px solid #ddd;
  font-family: "ubuntu medium"; }

.set__span:visited {
  border-left: 1px solid #f6c53d; }

.active {
  border: 0;
  background-color: #f4b60d;
  color: #fff; }

.content {
  display: none;
  position: relative;
  height: auto;
  font-family: arial;
  font-size: 13px;
  background-color: #f7f7f7;
  color: #8a8a8a; }

.content p {
  margin: 0;
  padding: 30px 0 30px 30px;
  line-height: 1.3;
  color: #333; }

.icon-fa-plus:before {
  content: "\f067";
  color: #2a2d32; }

.icon-fa-minus:before {
  content: "\f068";
  color: #fff; }

/*# sourceMappingURL=main.css.map */
